

.heroContainer {
  scroll-snap-align: center;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  
}

.titleContainer {
    padding-right: 30%;
    padding-top: 10%;
}

.title {
    font-family: 'Space Mono', monospace;
    font-size: 75px;
    white-space: nowrap;
    border-right: .15em solid gold;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.subTitle {
    font-family: 'Roboto Serif', serif;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gold; }
}

.techTitle {
    font-family: 'Space Mono', monospace;
}

.myLinkUl {
    display: flex;
    gap: 20px;

}

.myLink {
    list-style-type:none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto Serif', serif;
    
}

.techIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}


.slide {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Roboto Serif', serif;
    
}

.slide-track {
    display: flex;
    gap: 25px;
}

@media only screen and (max-width: 768px){
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }

    .titleContainer {
        max-width: 100%;
    }
    
    .title {
        font-size: 45px;
        margin-left: 100px;
        
    }
    .subTitle {
        font-size: 20px;
        margin-left: 100px;
        
    }
    .myLink {
        margin-left: 50px;
        margin-top: 20px;
    }

    .slide-track {
        display: column;
        flex-wrap: wrap;
        margin-left: 10px;
        align-items: center;
    }

    


}