

.projectsContainer {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  };

.projectsContent {
    margin: 0 40px;
}

.cardWrapper {
    color: aliceblue;
    
}


.card {
    border-radius: 12px;
    background-color: rgb(245, 247, 247) ;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background: rgba( 234, 234, 240, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.projectPrev {
    width: 75%;
    border-radius: 25px;
    
    
}
.infoTitle {
    font-family: 'Space Mono', monospace;

}
.infoText {
    color: black;
    font-family: 'Roboto Serif', serif;
}

.buttonContainer {
    margin-top: 100px;
}
button {
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Roboto Serif', serif;

}